@media (max-width: 767px) {
  BODY {
    font-size: 90%;
  }
  BODY p {
    font-size: 90%;
    line-height: 120%;
  }
  .navbar .container {
    width: 90%;
  }
  .container {
    width: 90%;
  }
  .container .journalHome {
    background: none;
  }
  #topMenu {
    clear: both;
    width: auto !important;
    margin: 6px 0px;
    display: none;
  }
  #topMenu LI {
    width: auto;
    margin-right: 12px;
  }
  .navbar {
    clear: both;
  }
  .navbar .btn-navbar {
    display: block;
  }
  .navbar .navbar-inner {
    background: none;
    box-shadow: none;
  }
  .navbar .navbar-inner .nav-collapse {
    height: 0;
    overflow: hidden;
  }
  .navbar .navbar-inner .nav-collapse .nav LI {
    float: none;
  }
  .navbar .navbar-inner .nav-collapse .nav LI UL.dropdown-menu {
    background: none;
    position: relative;
    color: #FFF !important;
    border: none;
    box-shadow: none;
  }
  .navbar .navbar-inner .nav-collapse .nav LI UL.dropdown-menu a.hover {
    background: none !important;
  }
  .navbar .navbar-inner .nav .active {
    background: none;
  }
  #journalTitle {
    margin: 4px 0px;
    height: auto;
  }
  #journalTitle #journalTitleInner {
    margin: 0px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .navbar .container {
    width: 100%;
  }
  .container {
    width: 100%;
  }
  #topMenu {
    clear: both;
    width: auto !important;
    margin: 6px 0px;
  }
  #topMenu LI {
    width: auto;
    margin-right: 12px;
  }
  #topMenu-mobile {
    display: none;
  }
  .navbar {
    clear: both;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  #topMenu-mobile {
    display: none;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1004px;
  }
  #topMenu-mobile {
    display: none;
  }
}
