{% extends "base_lv0.html" %}
{% load accessestags %}
{% load i18n %}

{% block header %}
<div class="span3" style="text-align: center;">
  <a href="/"><img src="/static/images/en/logop.png" /></a>
</div>
<div class="span6">
  <div class="row">
    <dl class="span4">
      <dt>{% trans 'serial brownsing' %}</dt>
      <dd>
        <div class="btn-group">
          <a href="/alpha" 
             class="btn btn-small btn-primary">
            <strong>{% trans 'alpha' %}</strong>
          </a>
          <a href="/subject" 
             class="btn btn-small btn-primary">
            <strong>{% trans 'subject' %}</strong>
          </a>
          <a href="http://search.scielo.org" 
             target="_blank" 
             class="btn btn-small btn-primary">
             <strong>{% trans 'form' %}</strong>
          </a>
        </div>
      </dd>
    </dl>
    <dl class="span4">
      <dt>{% trans 'article brownsing' %}</dt>
      <dd>
        <div class="btn-group">
          <a href="http://search.scielo.org" 
             target="_blank" 
             class="btn btn-small btn-primary">
             <strong>{% trans 'author' %}</strong>
          </a>
          <a href="http://search.scielo.org" 
             target="_blank"
             class="btn btn-small btn-primary">
             <strong>{% trans 'subject' %}</strong>
          </a>
          <a href="http://search.scielo.org" 
             target="_blank" 
             class="btn btn-small btn-primary">
             <strong>{% trans 'form' %}</strong>
          </a>
        </div>
      </dd>
    </dl>
    <dl class="span4">
      <dt>{% trans 'reports' %}</dt>
      <dd>
        <div class="btn-group">
          <a href="/usage" 
             class="btn btn-small btn-primary disabled">
            <strong>{% trans 'usage' %}</strong>
          </a>
          <a href="http://statbiblio.scielo.org/stat_biblio/index.php?lang=en" 
             class="btn btn-small btn-primary" 
             target="_blank">
             <strong>{% trans 'citations' %}</strong>
          </a>
          <a href="http://statbiblio.scielo.org/stat_biblio/index.php?xml=http://statbiblio.scielo.org/stat_biblio/xml/16.xml&amp;lang=en&amp;state=16" 
             target="_blank" 
             class="btn btn-small btn-primary">
             <strong>{% trans 'co-authors' %}</strong>
          </a>
        </div>
      </dd>
    </dl>
  </div>
</div>
{% endblock %}

{% block body %}
<h3 style="text-align: center;">{% trans 'Library Collection' %}</h3>
<h4>{% trans 'Library site usage report' %}</h4>

<h5>Pages</h5>
<div id="dashboard">
  <div id="table_div"></div>
  <div id="chart_div"></div>
</div>
{% endblock %}
{% block extra_js %}
  {% catalog_chart %}
{% endblock %}