{% load i18n %}

<script type="text/javascript">
    google.load('visualization', '1', {packages: ['table', 'corechart']});
    google.setOnLoadCallback(drawCharts);

    function drawCharts() {

      data = {{ tab|safe }}

      var data = new google.visualization.arrayToDataTable(data);

      var table = new google.visualization.Table(document.getElementById('table_div'));

      var options = {"sortColumn" : 13, "sortAscending": false, "page": "enable", "pageSize": 10};
      table.draw(data, options);

      var chart_options = {
            'title': '{% trans 'Catalog Accesses by month and year' %}',
            'vAxis': {'title': '{% trans 'year' %}', 'logScale': true},
            'hAxis': {'title': '{% trans 'months' %}'},
            'height': 400,
            'curveType': 'function'
      };

      data.removeColumn(13)

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
      chart.draw(data, chart_options);

    }
</script>