{% extends "base_lv0.html" %}

{% block header %}
<div class="span3" style="text-align: center;">
  <a href="/"><img src="/static/images/en/logop.png" /></a>
</div>
<div class="span8">
  <div class="row">
    <dl class="span4">
      <dt>journal navigation</dt>
      <dd>
        <div class="btn-group">
          <a href="/journal" 
             class="btn btn-small btn-primary tip-bottom" 
             rel="tooltip" 
             data-placement="bottom" 
             data-original-title="journal home"><strong>home</strong></a>
          <a href="/grid" 
             class="btn btn-small btn-primary tip-bottom" 
             rel="tooltip" 
             data-placement="bottom" 
             data-original-title="all issues from this journal"><strong>all</strong></a>
          <a href="/issue/1" 
             class="btn btn-small btn-primary tip-bottom disabled" 
             rel="tooltip" 
             data-placement="bottom" 
             data-original-title="previous issue"><strong>previous</strong></a>
          <a href="/issue/2" 
             class="btn btn-small btn-primary tip-bottom" 
             rel="tooltip" 
             data-placement="bottom" 
             data-original-title="current issue"><strong>current</strong></a>
          <a href="/issue/3" 
             class="btn btn-small btn-primary tip-bottom" 
             rel="tooltip" 
             data-placement="bottom" 
             data-original-title="next issue"><strong>next</strong></a>
        </div>
      </dd>
    </dl>
    <dl class="span3">
      <dt>journal articles search</dt>
      <dd>
        <div class="btn-group">
          <a href="http://search.scielo.org"
             target="_blank"
             class="btn btn-small btn-primary">
             <strong>author</strong>
          </a>
          <a href="http://search.scielo.org"
             target="_blank"
             class="btn btn-small btn-primary">
             <strong>subject</strong>
          </a>
          <a href="http://search.scielo.org"
             target="_blank"
             class="btn btn-small btn-primary">
             <strong>form</strong>
          </a>
        </div>
      </dd>
    </dl>
    <dl class="span2">
      <dt>Collection</dt>
      <dd>
        <div class="btn-group">
          <a href="/alpha" 
             class="btn btn-small btn-primary tip-bottom" 
             rel="tooltip" 
             data-placement="bottom" 
             data-original-title="alphabetic collection journals list"><strong>alpha</strong></a>
          <a href="/subject" 
             class="btn btn-small btn-primary tip-bottom"
             ref="tooltip"
             data-placement="bottom"
             data-original-title="collection journals list by subject"><strong>subject</strong></a>
        </div>
      </dd>
    </dl>
  </div>
</div>
{% endblock %}