{% load i18n %}

<!DOCTYPE html>
<html>
  <head>
    <title>SciELO Brasil</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <meta charset="UTF-8" />
  </head>
  <body>
    <div class="container-fluid" style="width: 1200px; margin:auto;">
      <div class="row-fluid">
      {% block header %}
        <div class="span12" style="text-align: center;"><img src="/static/images/en/logog.png" /></div>
      {% endblock %}
      </div>
      <div class="row-fluid">
      {% block body %}{% endblock %}
      </div>
      <div class="row-fluid">
        {% block journal_footer %}{% endblock %}
      </div>
      <div class="row-fluid">
        <hr/>
      {% block footer %}
        <!-- CREATIVE COMMONS -->
        <div style="text-align: right;">
          <form name="form_language" id="form_language" action="/i18n/setlang/" method="post">
            <input type="hidden" id="language" name="language">
            {% csrf_token %}
            <select id="lang_options">
              <option value="pt-br" 
                {% if LANGUAGE_CODE == 'pt-br' %}selected{% endif %}>
                Português
              </option>
              <option value="en" 
                {% if LANGUAGE_CODE == 'en' %}selected{% endif %}>
                English
              </option>
              <option value="es" 
                {% if LANGUAGE_CODE == 'es' %}selected{% endif %}>
                Español
              </option>
            </select>
          </form>
        </div>
        <div class="span12" style="text-align: center;">
          <img src="http://i.creativecommons.org/l/by-nc/3.0/80x15.png">
          All the contents of www.scielo.br, except where otherwise noted, is licensed under a Creative Commons License
        </div>
        <!-- COLLECTION/JOURNAL ADDRESS -->
        <div class="span12" style="text-align: center;">
          SciELO - Scientific Electronic Library Online <br/>
          FAPESP - BIREME <br/>
          Rua Machado Bittencourt, 430 - Vila Clementino <br/>
          04044-001 São Paulo, SP - Brasil <br/>
          Phone: +55 11 5083-3639/59 <br/>
          <img src="/static/images/email.gif" /> <br/>
          <a href="mailto: scielo@scielo.org">scielo@scielo.org</a>
        </div>
      {% endblock %}
      </div>
    </div>
  {% block main_js %}
  <script type="text/javascript" src="/static/js/jquery-1.9.0.min.js"></script>
  <script type="text/javascript" src="/static/css/bootstrap/js/bootstrap.js"></script>
  <script type="text/javascript" src="/static/js/languages.js"></script>
  <script type="text/javascript" src="/static/js/ratchet.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      options = {placement:'bottom'}
      $(".tip-bottom").tooltip(options);
    });
  </script>
  {% endblock %}
  {% block extra_js %}{% endblock %}
  </body>
</html>