{% extends "base_lv0.html" %}
{% load catalogtags %}

{% block header %}
<div class="span3" style="text-align: center;">
  <a href="/"><img src="/static/images/en/logop.png" /></a>
</div>
<div class="span6">
  <div class="row">
    <dl class="span4">
      <dt>serial brownsing</dt>
      <dd>
        <div class="btn-group">
          <a href="/alpha" class="btn btn-small btn-primary disabled"><strong>alpha</strong></a>
          <a href="/subject" class="btn btn-small btn-primary"><strong>subject</strong></a>
          <a href="http://search.scielo.org"
             target="_blank"
             class="btn btn-small btn-primary">
             <strong>form</strong>
          </a>
        </div>
      </dd>
    </dl>
    <dl class="span4">
      <dt>article brownsing</dt>
      <dd>
        <div class="btn-group">
          <a href="http://search.scielo.org"
             target="_blank"
             class="btn btn-small btn-primary">
             <strong>author</strong>
          </a>
          <a href="http://search.scielo.org"
             target="_blank"
             class="btn btn-small btn-primary">
             <strong>subject</strong>
          </a>
          <a href="http://search.scielo.org"
             target="_blank"
             class="btn btn-small btn-primary">
             <strong>form</strong>
          </a>
        </div>
      </dd>
    </dl>
    <dl class="span4">
      <dt>reports</dt>
      <dd>
        <div class="btn-group">
          <a href="/usage" class="btn btn-small btn-primary"><strong>usage</strong></a>
          <a href="http://statbiblio.scielo.org/stat_biblio/index.php?lang=en"
             class="btn btn-small btn-primary"
             target="_blank">
             <strong>citations</strong>
          </a>
          <a href="http://statbiblio.scielo.org/stat_biblio/index.php?xml=http://statbiblio.scielo.org/stat_biblio/xml/16.xml&lang=en&state=16"
             target="_blank"
             class="btn btn-small btn-primary">
             <strong>co-authors</strong>
          </a>
        </div>
      </dd>
    </dl>
  </div>
</div>
{% endblock %}

{% block body %}

<h3 style="text-align: center;">Library Collection</h3>

<h4>Alphabetic list - 15 serials listed</h4>
<dl>
 <dt>Current titles - 15 serial listed</dt>
 <dd>
  {% journal_alpha_list journals_current %}
 </dd>
</dl>
<dl>
 <dt>Non-current titles - 40  serials listed</dt>
 <dd>
  {% journal_alpha_list journals_non_current %}
 </dd>
</dl>
{% endblock %}