{% extends "base_lv0.html" %}
{% load i18n %}

{% block header %}
<div class="span3" style="text-align: center;">
  <a href="/"><img src="/static/images/en/logop.png" /></a>
</div>
<div class="span6">
  <div class="row">
    <dl class="span4">
      <dt>serial brownsing</dt>
      <dd>
        <div class="btn-group">
          <a href="/alpha" class="btn btn-small btn-primary"><strong>alpha</strong></a>
          <a href="/subject" class="btn btn-small btn-primary"><strong>subject</strong></a>
          <a href="http://search.scielo.org" 
             target="_blank" 
             class="btn btn-small btn-primary">
             <strong>form</strong>
          </a>
        </div>
      </dd>
    </dl>
    <dl class="span4">
      <dt>article brownsing</dt>
      <dd>
        <div class="btn-group">
          <a href="http://search.scielo.org" 
             target="_blank" 
             class="btn btn-small btn-primary">
             <strong>author</strong>
          </a>
          <a href="http://search.scielo.org" 
             target="_blank"
             class="btn btn-small btn-primary">
             <strong>subject</strong>
          </a>
          <a href="http://search.scielo.org" 
             target="_blank" 
             class="btn btn-small btn-primary">
             <strong>form</strong>
          </a>
        </div>
      </dd>
    </dl>
    <dl class="span4">
      <dt>reports</dt>
      <dd>
        <div class="btn-group">
          <a href="/usage" class="btn btn-small btn-primary disabled"><strong>usage</strong></a>
          <a href="http://statbiblio.scielo.org/stat_biblio/index.php?lang=en" 
             class="btn btn-small btn-primary" 
             target="_blank">
             <strong>citations</strong>
          </a>
          <a href="http://statbiblio.scielo.org/stat_biblio/index.php?xml=http://statbiblio.scielo.org/stat_biblio/xml/16.xml&amp;lang=en&amp;state=16" 
             target="_blank" 
             class="btn btn-small btn-primary">
             <strong>co-authors</strong>
          </a>
        </div>
      </dd>
    </dl>
  </div>
</div>
{% endblock %}

{% block body %}
<h3 style="text-align: center;">Library Collection</h3>
<h4>Library site usage report</h4>
<ul>
  <li><a href="http://scielo-log.scielo.br/scielolog/scielolog.php?script=sci_journalstat&amp;lng=en&amp;nrm=iso&amp;app=scielo&amp;server=www.scielo.br" target="_blank">Journals requests</a></li>
  <li><a href="http://scielo-log.scielo.br/scielolog/scielolog.php?script=sci_journalstatlang&amp;lng=en&amp;nrm=iso&amp;app=scielo&amp;server=www.scielo.br" target="_blank">Articles requests by language</a></li>
  <li><a href="http://scielo-log.scielo.br/scielolog/scielolog.php?script=sci_statiss&amp;lng=en&amp;nrm=iso&amp;app=scielo&amp;server=www.scielo.br" target="_blank">Issues requests</a></li>
  <li><a href="http://scielo-log.scielo.br/scielolog/ofigraph20.php?app=scielo&amp;lang=en" target="_blank">Top ten titles</a></li>
  <li><a href="http://scielo-log.scielo.br/scielolog/ofigraph21.php?app=scielo&amp;lang=en" target="_blank">Articles per month</a></li>
</ul>
{% endblock %}