{% extends "base_lv0.html" %}

{% block body %}
<div class="span2">
  <ul class="unstyled">
    <li><a href="#" target="_blank">SciELO.ORG</a></li>
    <li><a href="#" target="_blank">Journals Evaluation</a></li>
    <li><a href="#help" target="_blank">help</a></li>
    <li><a href="#about" target="_blank">about this site</a></li>
    <li><a href="#" target="_blank">SciELO Team</a></li>
  </ul>
  <ul class="unstyled">
    <li><a href="#" target="_blank">portuguese</a></li>
    <li><a href="#" target="_blank">spanish</a></li>
  </ul>
</div>
<div class="span10">
  <div class="row-fluid">
    <div class="span4">
      <h4>serial browsing</h4>
      <ul class="unstyled">
        <li><a href="alpha">alphabetic list</a></li>
        <li><a href="subject">subject list</a></li>
        <li><a href="http://search.scielo.org" target="_blank">search form</a></li>
      </ul>
    </div>
    <div class="span4">
      <h4>article browsing</h4>
      <ul class="unstyled">
        <li><a href="http://search.scielo.org" target="_blank">author index</a></li>
        <li><a href="http://search.scielo.org" target="_blank">subject index</a></li>
        <li><a href="http://search.scielo.org" target="_blank">search form</a></li>
      </ul>
    </div>
    <div class="span4">
      <h4>reports</h4>
      <ul class="unstyled">
        <li><a href="/usage">site usage</a></li>
        <li><a href="http://statbiblio.scielo.org/stat_biblio/index.php?lang=en" target="_blank">journal citation</a></li>
        <li><a href="http://statbiblio.scielo.org/stat_biblio/index.php?xml=http://statbiblio.scielo.org/stat_biblio/xml/16.xml&amp;lang=en&amp;state=16" target="_blank">co-authors</a></li>
      </ul>
    </div>
  </div>
  <div class="row-fluid">
    <dl>
      <dt>SciELO</dt>
      <dd>
        <p>
          The Scientific Electronic Library Online - SciELO is an electronic library covering a selected collection of Brazilian scientific journals.
        </p>
        <p>
          The library is an integral part of a project being developed by FAPESP - Fundação de Amparo à Pesquisa do Estado de São Paulo, in partnership with BIREME - the Latin American and Caribbean Center on Health Sciences Information. Since 2002, the Project is also supported by CNPq - Conselho Nacional de Desenvolvimento Científico e Tecnológico.
        </p>
        <p>
          The Project envisages the development of a common methodology for the preparation, storage, dissemination and evaluation of scientific literature in electronic format.
        </p>
        <p>
          As the project develops, new journal titles are being added in the library collection.
        </p>
      </dd>
    </dl>
    <dl>
      <dt><a name="about"></a>about this site</dt>
      <dd>
        <p>
          This is the home page of SciELO Brasil Site.
        </p>

        <p>
          The objective of the site is to implement an electronic virtual library, providing full access to a collection of serial titles, a collection of issues from individual serial titles, as well as to the full text of articles. The access to both serial titles and articles is available via indexes and search forms.
        </p>
        <p>
          SciELO site is an integral part of the FAPESP/BIREME/CNPq Project and it is an application of the methodology being developed by the project, particularly the Internet Interface module.
        </p>
        <p>
          The site will be constantly updated both in form and content, according to the project's advancements.
        </p>
      </dd>
    </dl>
    <dl>
      <dt><a name="help"></a>help</dt>
      <dd>
        <p>
          SciELO interface provides access to its serials collection via an alphabetic list of titles or a subject list or a search form by word of serial titles, publisher names, city of publication and subject.
        </p>
        <p>
          The interface also provides access to the full text of articles via author index or subject index, or by a search form on article elements such as author names, words from title, subject, words from the full text and publication year.
        </p>
        <p>
          Click an hypertext link at the top to call the corresponding access page.
        </p>
      </dd>
    </dl>
  </div>
</div>
{% endblock %}