{% extends "base_lv1.html" %}
{% load catalogtags %}

{% block body %}

<div class="span12">
  <center>
    <h3>Annali dell'Instituto Superiore di Sanità</h3>
    <h5>print version ISSN 0021-2571</h5>
  </center>
  <h4>Table of Contents</h4>
  <h4>Ann. Ist. Super. Sanità vol.48 n.3 Roma Jan.</h4>

  {% list_articles_by_section sections 'en' %}

  <dl class="issue_toc">
      <dt><i class="icon-chevron-right"></i> Example</dt>
      <dd>
        <ul class="unstyled toc_article">
          <li>
            In defence of bioethicists of the third king
            <ul class="inline toc_article_authors">
              <li><a href="#">Petrini, Carlo</a></li>
              <li><a href="#">Petrini, Carlo</a></li>
            </ul>
            <ul class="inline toc_article_links">
              <li>
                abstract:
                <a href="#">English</a> |
                <a href="#">Italian</a>
              </li>
              <li>
                full text:
                <a href="#">English</a>
              </li>
              <li>
                pdf:
                <a href="#">English</a>
              </li>
            </ul>
          </li>
        </ul>
      </dd>
  </dl>
</div>
{% endblock %}

{% block journal_footer %}
<hr/>
<blockquote class="span4">
  <strong>Annali dell'Instituto Superiore di Sanità</strong>
  <small>print version ISSN 0021-2571</small>
  <strong>Mission</strong>
  <small>To disseminate information on researches in public health.</small>
</blockquote>
<blockquote class="span3">
  <strong>Address</strong><br/>
  2013 Instituti Superiore di Sanità<br/>
  Viale Regina Elena 299<br/>
  <a href="mailto: annali@iss.it">annali@iss.it</a>
</blockquote>
<blockquote class="span4">
  <strong>Links</strong><br/>
  <ul class="unstyled">
    <li><i class="icon-play"></i> <a href="#" target="_blank">about journal</a></li>
    <li><i class="icon-play"></i> <a href="#" target="_blank">editorial board</a></li>
    <li><i class="icon-play"></i> <a href="#" target="_blank">instructions to authors</a></li>
    <li><i class="icon-play"></i> <a href="#" target="_blank">subscriptions</a></li>
    <li><i class="icon-play"></i> <a href="#" target="_blank">statistics</a></li>
  </ul>
</blockquote>
{% endblock %}