{% extends "base_lv1.html" %}
{% load catalogtags %}
{% load i18n %}

{% block body %}
<div class="span12">
  <center>
    <h3>{{ journal.title }}</h3>
    <h5>{{ journal.scielo_issn }} version ISSN {{ journal.issn }}</h5>
  </center>
  <h4>Table of Contents</h4>
  <h4>{{ journal.short_title }} vol.48 n.3 {{ journal.publication_city }} Jan.</h4>

   {% list_articles_by_section sections 'en' %}

  <dl class="issue_toc">
      <dt><i class="icon-chevron-right"></i> Example</dt>
      <dd>
        <ul class="unstyled toc_article">
          <li>
            In defence of bioethicists of the third king
            <ul class="inline toc_article_authors">
              <li><a href="#">Petrini, Carlo</a></li>
              <li><a href="#">Petrini, Carlo</a></li>
            </ul>
            <ul class="inline toc_article_links">
              <li>
                abstract:
                <a href="#">English</a> |
                <a href="#">Italian</a>
              </li>
              <li>
                full text:
                <a href="#">English</a>
              </li>
              <li>
                pdf:
                <a href="#">English</a>
              </li>
            </ul>
          </li>
        </ul>
      </dd>
  </dl>
</div>
{% endblock %}

{% block journal_footer %}
<hr/>
<blockquote class="span4">
  <strong>{{ journal.title }}</strong>
  <small>{{ journal.scielo_issn }} version ISSN {{ journal.issn }}</small>
  <strong>Mission</strong>
  <small>{{ journal.missions.en }}</small>
</blockquote>
<blockquote class="span3">
    <dl>
      <dt>Address</dt>
      <dd>
        {% if journal.publisher_name %}
          {{ journal.publisher_name }}</br>
        {% endif %}
        {% if journal.address %}
        {{ journal.address }}<br/>
        {% endif %}
        {% for phone in journal.phones %}
          <strong>phone: </strong> {{ phone }} <br/>
        {% endfor %}
        {% if journal.editor_email %}
          <strong>e-mail: </strong> <a href="mailto: {{ journal.editor_email }}">{{ journal.editor_email }}</a>
        {% endif %}
      </dd>
    </dl>
</blockquote>
<blockquote class="span4">
  <strong>Links</strong><br/>
  <ul class="unstyled">
    <li><i class="icon-play"></i> <a href="#" target="_blank">about journal</a></li>
    <li><i class="icon-play"></i> <a href="#" target="_blank">editorial board</a></li>
    <li><i class="icon-play"></i> <a href="#" target="_blank">instructions to authors</a></li>
    <li><i class="icon-play"></i> <a href="#" target="_blank">subscriptions</a></li>
    <li><i class="icon-play"></i> <a href="#" target="_blank">statistics</a></li>
  </ul>
</blockquote>
{% endblock %}