{% extends "base_lv1.html" %}
{% load i18n %}

{% block body %}

<div class="span12">
  <center>
    <h3>{{ journal.title }}</h3>
    <h5>{{ journal.scielo_issn|capfirst }} {% trans 'version ISSN' %} {{ journal.issn }}</h5>
  </center>

  <div class="span12">
    <p>
      {% if journal.former_journal %}
        <strong>{% trans 'Former Title:' %}</strong>
        <a href="{{journal.former_journal.get_absolute_url}}"> {{ journal.former_journal.title }}</a>
      {% endif %}
      {% if journal.latter_journal %}
        <strong>{% trans 'New Title:' %}</strong>
        <a href="{{journal.latter_journal.get_absolute_url}}"> {{ journal.latter_journal.title }}</a>
      {% endif %}
    </p>
    <small>{% trans 'Available issues' %}*</small>
  </div>

  <div class="span12">
    <table class="table_issue">
      <thead>
        <tr>
          <th>{% trans 'Year' %}</th>
          <th>{% trans 'Volume' %}</th>
          <th>{% trans 'Numbers' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for year, vols in issues.items %}
          {% for vol, nums in vols.items %}
          <tr>
            <th>{{ year }}</th>
            <th>{{ vol|default:'-' }}</th>
            {% for num in nums %}
              {% if num.suppl_number %}
                <td><a href="{% url "catalog.show_issue" journal.acronym num.id %}">{% trans 'suppl.' %}</a></td>
              {% elif num.suppl_volume %}
                <td><a href="{% url "catalog.show_issue" journal.acronym num.id %}">{% trans 'suppl.' %} {{ num.suppl_volume }}</a></td>
              {% elif not num.is_press_release %}
                <td><a href="{% url "catalog.show_issue" journal.acronym num.id %}">{{ num.number }}</a></td>
              {% endif %}
            {% endfor %}
          </tr>
          {% endfor %}
        {% endfor %}
      <tbody>
    </table>
  </div>

  <div class="span12">
    <small>
      * {% trans "Journal's history at this collection" %}<br/>
      <ul>
        {% for status in journal.history %}
          <li>{{ status.history_date|date:"N Y" }}: {{ status.reason }}</li>
        {% endfor %}
        <li>Apr  1997: {% trans 'Admitted to this collection' %}</li>
      <ul>
    </small>
  </div>

</div>

{% endblock %}