{% extends "base_lv1.html" %}
{% load i18n %}

{% block body %}
<div class="span2">
  <h6>{% trans 'Updated at' %}<br/> May 15, 2012</h6>
  <ul class="unstyled">
    <li><i class="icon-play"></i> <a href="#" target="_blank">{% trans 'about journal' %}</a></li>
    <li><i class="icon-play"></i> <a href="#" target="_blank">{% trans 'editorial board' %}</a></li>
    <li><i class="icon-play"></i> <a href="#" target="_blank">{% trans 'instructions to authors' %}</a></li>
    <li><i class="icon-play"></i> <a href="#" target="_blank">{% trans 'subscriptions' %}</a></li>
    <li><i class="icon-play"></i> <a href="{% url 'catalog.journal_stats' journal.acronym %}">{% trans 'statistics' %}</a></li>
  </ul>
  {% if journal.url_online_submission %}
  <a href="{{ journal.url_online_submission }}"><img src="/static/images/en/submission.png" /></a>
  {% endif %}
</div>
<div class="span7" style="border-left: 1px solid; border-right: 1px solid; padding-left: 20px;">
  <center>
    <img src="/static/images/journals/logo/id_journal.gif" />
  </center>
    <h3>{% trans 'Search' %}</h3>
    <form class="form-inline" method="POST" action="http://search.scielo.org/index.php" target="_blank">
      <input type="hidden" name="site" value="scielo">
      <input type="hidden" name="col" value="org">
      <input type="hidden" name="lang" value="en">
      <input type="hidden" name="where" value="ORG">
      <input type="hidden" name="sort" value="score+desc">
      <input type="text" name="q" class="input-large" placeholder="{% trans 'enter one or more words' %}">
      <select  class="input-medium" name="index">
        <option value="">{% trans 'All Indexes' %}</option>
        <option value="ab">{% trans 'abstract' %}</option>
        <option value="au">{% trans 'author' %}</option>
        <option value="sponsor">{% trans 'sponsor' %}</option>
        <option value="ti">{% trans 'title' %}</option>
      </select>
      <select class="input-medium" name="filter_chain">
        <option value="ta_cluster:{{ journal.short_title }}">{% trans 'this Journal' %}</option>
        <option value="">{% trans 'all Collection' %}</option>
      </select>
      <button class="btn btn-small btn-primary">{% trans 'search' %}</button>
    </form>
    <dl>
      <dt>{% trans 'Publication of' %}</dt>
      <dd>{{ journal.title }}</dd>
      <dd>
        <span class="text-info"><em>{{ journal.scielo_issn }} version</em> ISSN </span>{{ journal.issn }}
      </dd>
      {% if journal.missions.en %}
      <dt>{% trans 'Mission' %}</dt>
      <dd><span class="text-info">{{ journal.missions.en }}</sapn><dd>
      {% endif %}
      <dt>{% trans 'Address' %}</dt>
      <dd>
        {% if journal.publisher_name %}
          {{ journal.publisher_name }}</br>
        {% endif %}
        {% if journal.address %}
        {{ journal.address }}<br/>
        {% endif %}
        {% for phone in journal.phones %}
          <strong>{% trans 'phone' %}: </strong> {{ phone }} <br/>
        {% endfor %}
        {% if journal.editor_email %}
          <strong>{% trans 'e-mail' %}: </strong> <a href="mailto: {{ journal.editor_email }}">{{ journal.editor_email }}</a>
        {% endif %}
      </dd>
        <dd>
            {% if journal.former_journal %}
              <strong>{% trans 'Former Title:' %}</strong>
              <a href={% url 'catalog.journal' journal.former_journal.acronym %}> {{ journal.former_journal.title }}</a>
            {% endif %}
            {% if journal.latter_journal %}
              <strong>{% trans 'New Title:' %}</strong>
              <a href={% url 'catalog.journal' journal.latter_journal.acronym %}> {{ journal.latter_journal.title }}</a>
            {% endif %}
        </dd>
    </dl>
</div>
<div class="span3">
  <div class="press_releases">
    <h4>{% trans 'Press Releases' %}</h4>
    <dl>
      <dt>{% trans 'Articles' %}</dt>
      <dd>
        <ul>
          <li class="muted"><a hrf="#">2012/09 - v42 n.3 First record of Trichodina heterodentata (Ciliophora: Trichodinidae) from Arapaima gigas cultivated in Peru</a></li>
          <li class="muted"><a hrf="#">2012/06 - v42 n.2 Soil CO2 efflux in central Amazonia: environmental and methodological effects</a></li>
        </ul>
      </dd>
    </dl>
    <div class="more">
      <a href="#" target="_blank">{% trans 'more' %}</a>
    </div>
  </div>
  {% if journal.twitter_user %}
  <div class="twitter">
    <h4><img src="/static/images/twitter.png" width="20px"/> Twitter</h4>
    <ul id="tweets"></ul>
    <div class="more">
      <a href="http://www.twitter.com/{{ journal.twitter_user }}" target="_blank">{% trans 'more' %}</a>
    </div>
  </div>
  {% endif %}
  <div class="facebook">
    <h4><img src="/static/images/facebook.png" width="20px"/> Facebook</h4>
    <ul>
      <li class="muted"><a hrf="#">2012/09 - v42 n.3 First record of Trichodina heterodentata (Ciliophora: Trichodinidae) from Arapaima gigas cultivated in Peru</a></li>
      <li class="muted"><a hrf="#">2012/06 - v42 n.2 Soil CO2 efflux in central Amazonia: environmental and methodological effects</a></li>
    </ul>
    <div class="more">
      <a href="#" target="_blank">{% trans 'more' %}</a>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  function qry_tweets() {
    $.ajax({
      url: "{% url 'catalog.ajx_list_journal_tweets' journal.acronym %}",
      success: function (data) {
          for (tweet in data){
            $("#tweets").append("<li><strong>" + data[tweet]['created_at'] + "</strong><br/>" + data[tweet]['text'] + "</li>");
          }
      }
    });
  }

  $(document).ready(function() {
      qry_tweets();
  });
</script>
{% endblock %}