{% extends "base_lv1.html" %}

{% block body %}
<div class="span3">
  <h6>Updated on<br/> May 15, 2012</h6>
  <ul class="unstyled">
    <li><a href="#" target="_blank">portuguese</a></li>
    <li><a href="#" target="_blank">spanish</a></li>
  </ul>
  <ul class="unstyled">
    <li><i class="icon-play"></i> <a href="#" target="_blank">about journal</a></li>
    <li><i class="icon-play"></i> <a href="#" target="_blank">editorial board</a></li>
    <li><i class="icon-play"></i> <a href="#" target="_blank">instructions to authors</a></li>
    <li><i class="icon-play"></i> <a href="#" target="_blank">subscriptions</a></li>
    <li><i class="icon-play"></i> <a href="#" target="_blank">statistics</a></li>
  </ul>
  <a href="#"><img src="/static/images/en/submission.png" /></a>
</div>
<div class="span7">
  <center>
    <img src="/static/images/journals/logo/id_journal.gif" />
  </center>
    <h4>Search</h4>
    <form class="form-inline">
      <input type="text" class="input-large" placeholder="Enter one or more words">
      <select  class="input-medium">
        <option value="0021-2571">All Indexes</option>
        <option value="">Title</option>
        <option value="">Author</option>
        <option value="">Subject</option>
      </select>
      <select class="input-medium">
        <option value="0021-2571">This Journal</option>
        <option value="">All Collection</option>
      </select>
      <button class="btn btn-small btn-primary">Search</button>
    </form>
    <dl>
      <dd>Publication of</dd>
      <dd><strong>Istituto Superiore di Sanità</strong></dd>
      <dd><span class="text-info"><em>Print version</em> ISSN </span>0021-2571</dd>
      <dd><small>Mission</small></dd>
      <dd><span class="text-info">To disseminate information on researches in public health.</sapn><dd>
    </dl>
</div>
<div class="span2">
  <h4>Press Releases</h4>
  <dl>
    <dt>Articles</dt>
    <dd>
      <ul>
        <li class="muted"><a hrf="#">2012/09 - v42 n.3 First record of Trichodina heterodentata (Ciliophora: Trichodinidae) from Arapaima gigas cultivated in Peru</a></li>
        <li class="muted"><a hrf="#">2012/06 - v42 n.2 Soil CO2 efflux in central Amazonia: environmental and methodological effects</a></li>
      </ul>
    </dd>
  </dl>
</div>

{% endblock %}