{% extends "base_lv1.html" %}

{% block body %}
<div class="span3">
  <h6>Updated on<br/> May 15, 2012</h6>
  <ul class="unstyled">
    <li><a href="#" target="_blank">portuguese</a></li>
    <li><a href="#" target="_blank">spanish</a></li>
  </ul>
  <ul class="unstyled">
    <li><i class="icon-play"></i> <a href="#" target="_blank">about journal</a></li>
    <li><i class="icon-play"></i> <a href="#" target="_blank">editorial board</a></li>
    <li><i class="icon-play"></i> <a href="#" target="_blank">instructions to authors</a></li>
    <li><i class="icon-play"></i> <a href="#" target="_blank">subscriptions</a></li>
    <li><i class="icon-play"></i> <a href="#" target="_blank">statistics</a></li>
  </ul>
  <a href="#"><img src="/static/images/en/submission.png" /></a>
</div>
<div class="span6">
  <center>
    <img src="/static/images/journals/logo/id_journal.gif" />
    <form class="form-inline">
      <input type="text" class="input-small" placeholder="Email">
      <input type="password" class="input-small" placeholder="Password">
      <label class="checkbox">
      <input type="checkbox"> Remember me
      </label>
      <button type="submit" class="btn">Sign in</button>
    </form>
  </center>
</div>
<div class="span3">
right
</div>

{% endblock %}