h4 {
    color: #800000;
}

.toc_article li {
    margin-top: 10px;
    font-weight: bold;
}

.toc_article_authors li {
    font-weight: normal;
    margin-top: 0px;
}

.toc_article_links {
    font-weight: normal;
    margin-top: 10px;
}

.toc_article_links li {
    font-weight: normal;
    margin-top: 0px;
}

.issue_toc dt {
    font-size: 20px;
    margin-top: 50px;
}

.twitter .more {
    text-align: right;
}

.facebook .more {
    text-align: right;
}

.press_releases .more {
    text-align: right;
}

/*Issue Grid Style*/

.table_issue th {
    background-color: #B0B0B0;
    text-align: center;
    font-weight: bold;
    border: solid 5px #FFFFFF;
    padding: 2px;
    width: 80px;
    height: 30px;
}

.table_issue_ul {
    list-style-type: none;
    margin: -6px 0 0;
    padding: 0;
    width: 100%;
}

.table_issue_ul li {
    float:left;
    width: 40px;
    padding: 10px;
    display:block;
    font-size: 10pt;
    text-align: center;
    margin: 5px 0px 0px 5px;
    border: 0px solid #CCCCCC;
    line-height: 0.8em;
    background-color: #E6E6E6;
    border: 1px solid #D3D3D3;
}

.table_issue_div{
    float: left;
    width: 900px;
}