h4 {
    color: #800000;
}

.journal_title{
    color: #000080;
    margin-bottom: 1px;
}

.text_issn{
    color: #000080;
}

.toc_article li {
    margin-top: 10px;
    font-weight: bold;
}

.toc_article_authors li {
    font-weight: normal;
    margin-top: 0px;
}

.toc_article_links {
    font-weight: normal;
    margin-top: 10px;
}

.toc_article_links li {
    font-weight: normal;
    margin-top: 0px;
}

.issue_toc dt {
    font-size: 20px;
    margin-top: 50px;
}

.twitter .more {
    text-align: right;
}

.facebook .more {
    text-align: right;
}

.press_releases .more {
    text-align: right;
}

/*Issue Grid Style*/

.table_issue td {
    background-color: #F0F0F0;
    text-align: center;
    border: solid 5px #FFFFFF;
    padding: 2px;
    width: 80px;
    height: 30px;

}

.table_issue th {
    background-color: #E0E0E0;
    text-align: center;
    font-weight: bold;
    border: solid 5px #FFFFFF;
    padding: 2px;
    width: 80px;
    height: 30px;

}

